body {
    background: linear-gradient(to right, #b1ca24, #b38136);
}

.todo-card {
    width: 450px;
    border-radius: 15px;
}

.completed-text {
    text-decoration: line-through;
    opacity: 0.6;
}
